body {
  color: #3a404d;
	background: #f8f9fb
}

.site-content {
	overflow: hidden;
}

.py-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.mb-6 {
	margin-bottom: 6rem;
}

.form-control {
	box-shadow: none;
	padding: 13px 10px;
	height: 50px;
	background: #FFF;
	color: #3a404d;
	border-radius: 5px;
	border-color: #DFE2E8;

	&:focus, &.input-focus {
		box-shadow: none !important;
		border-color: #2b98eb;
	}
}

.card {
	background: #FFF;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	overflow: hidden;

	&__content {
		padding: 15px;
		font-size: 14px;
		line-height: 22px;

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;

		a {
			color: #3a404d;
			text-decoration: none;
			&:hover, &:focus {
				color: #2b98eb;
				text-decoration: none;
			}
		}
	}
}

.glossary {
	&__nav {
		&__item {
			&.active {
				a {
					color: #FFF;
					background-color: #2b98eb;
				}
			}

			a {
				width: 50px;
				font-size: 16px;
				color: #3a404d;
				text-decoration: none;
				text-align: center;
				display: block;

				&:hover, &:focus {
					color: #FFF;
					background-color: #2b98eb;
				}

				&.card__content {
					padding: 13px 10px;
					margin-bottom: 5px;
					border-radius: 3px;
				}
			}
		}
	} // END Glossary nav

	&__search {
		&__form {
			max-width: 500px;
			position: relative;

			&:before {
				content: "\f002";
				color: #aaa;
				font-family: "FontAwesome";
				position: absolute;
				left: 15px;
				top: 12px;
				font-size: 18px;
			}

			.form-control {
				padding-left: 40px;
			}
		}
	} // END GLossary Search

	&__results {
		&__row {
			overflow: hidden;
			margin-bottom: 40px;
			transition: all 0.4s ease-in-out;

			&:last-child {
				margin-bottom: 0;
			}
			&.inactive {
				opacity: 0;
				height: 0;
				margin: 0;
				width: 100%;
				// display: none;
			}
		}
		&__term {
			color: #2b98eb;
		}
		&__item {
			margin-bottom: 20px;

			a {
				display: block;
				text-decoration: none;
				color: #3a404d;

				&.card {
					border: 2px solid transparent;
				}

				&:hover {
					border-color: #2b98eb;
					.card__title {
						color: #2b98eb;
					}
				}
			}
		}
	} // END Glossary Results
} // END Glossary styles

.title-style--three {
	margin-bottom: 15px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 10px;

	&:after {
		content: "";
		background: #2b98eb;
		width: 60px;
		height: 3px;
		position: absolute;
		left: 0;
		bottom: 0;
		border-radius: 30px;
	}
}
